<template>
  <form action="#" v-if="isDataLoaded">
    <div class="wrapper">
      <h2 class="form-title form-title_730">
        Выберите направления деятельности,<br>с которыми Вы взаимодействовали в 2018-2019 годах
      </h2>

      <FixedCol class="fixed-col_height-one fixed-col_white fixed-col_730">
        <ActivitiesGroup
          v-for="activity in activities"
          :activity="activity"
        />
      </FixedCol>
    </div>

    <ButtonBar>
      <template slot="button-left">
        <button
          class="button button_outline_secondary button_icon_cross"
          :style="{paddingLeft: '30px'}"
          type="button"
          @click="onClickCancelButton"
        >
          Не взаимодействовал
        </button>
      </template>

      <template slot="button-right">
        <button
          class="button button_success button_icon-arrow-right"
          type="button"
          :disabled="countSelectedFunction <= 0"
          @click="onClickButtonNext"
        >
          Продолжить
        </button>
      </template>

      <template slot="help-bar">
        <HelpBar/>
      </template>
    </ButtonBar>
  </form>

  <Preloader v-else>
    Загрузка данных...
  </Preloader>
</template>

<script>
import FixedCol from '../components/FixedCol.vue';
import ActivitiesGroup from '../components/ActivitiesGroup.vue';
import ButtonBar from '../components/ButtonBar.vue';
import HelpBar from '../components/HelpBar.vue';
import Preloader from '../components/Preloader.vue';

export default {
  name: 'ActivitiesContainer',
  computed: {
    isDataLoaded() {
      return this.$store.state.isDataLoaded;
    },
    activities() {
      return this.$store.state.activities;
    },
    countSelectedFunction() {
      return this.$store.state.functions.filter(func => func.selected).length;
    },
  },
  methods: {
    onClickCancelButton() {
      this.$store.dispatch('saveData');

      this.$router.push({
        name: 'end',
        query: {
          cid: this.$store.state.userParams.cid,
          week: this.$store.state.userParams.week,
          pid: this.$store.state.userParams.pid,
          hash: this.$store.state.userParams.hash,
          lang: this.$store.state.userParams.lang,
        },
      });
    },
    onClickButtonNext() {
      this.$store.dispatch('saveData');

      this.$store.commit('setHint', []);

      this.$router.push({
        name: 'evaluation',
        query: {
          cid: this.$store.state.userParams.cid,
          week: this.$store.state.userParams.week,
          pid: this.$store.state.userParams.pid,
          hash: this.$store.state.userParams.hash,
          lang: this.$store.state.userParams.lang,
        },
      });
    },
  },
  created() {
    if (this.$store.state.isDataLoaded === false) {
      this.$store.dispatch('getData');
    } else {
      this.$store.commit('setActiveFunction');
    }
  },
  mounted() {
    setTimeout(() => {
      this.$store.commit('setHint', this.$store.state.hints.filter(item => item.id === 1 || item.id === 2 || item.id === 3));
    }, 1500);
  },
  components: {
    FixedCol,
    HelpBar,
    ButtonBar,
    ActivitiesGroup,
    Preloader,
  },
};
</script>
