<template>
  <div class="end-page">
    <h2 class="end-page__title">
        Ответы сохранены. Спасибо за участие!<br>
        Ваше мнение поможет повысить эффективность<br>
      <span>
        X5
      </span>
    </h2>

    <div class="end-page__picture">
      <img src="../assets/images/end-picture.png" width="577" alt="" aria-hidden="true">
    </div>

    <div class="end-page__button">
      <button
        class="button button_outline_secondary button_icon-refresh"
        :to="{ name: 'activities' }"
        @click.prevent="onClickChangeButton"
      >
        Изменить ответы
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EndContainer',
  created() {
    this.$store.commit('setHint', []);
  },
  methods: {
    onClickChangeButton() {
      this.$router.push({
        name: 'activities',
        query: {
          cid: this.$store.state.userParams.cid,
          week: this.$store.state.userParams.week,
          pid: this.$store.state.userParams.pid,
          hash: this.$store.state.userParams.hash,
          lang: this.$store.state.userParams.lang,
        },
      });
    },
  },
};
</script>
