<template>
  <form action="#" v-if="isDataLoaded">
    <div class="wrapper">

      <div class="row">
        <div class="col" style="width: 30%">
          <div class="form-title">
            Оцените направление
          </div>

          <FixedCol id="functions-group" class="fixed-col_height-two fixed-col_gray">
            <FunctionsGroup
              v-for="activity in activities"
              :key="activity.id"
              :activity="activity"
            />
          </FixedCol>
        </div>

        <div class="col" style="width: 40%">
          <div class="form-title">
            Оценка
          </div>

          <Evaluation
            :func="activeFunction"
          />
        </div>

        <div class="col" style="width: 30%">
          <div class="form-title">
            Комментарий к оценке
          </div>

          <Comment
            :func="activeFunction"
          />
        </div>
      </div>

    </div>

    <ButtonBar>
      <template slot="button-back" v-if="isShowBackButton">
        <button class="button button_outline_secondary button_icon-arrow-left" type="button" @click="onClickBackButton">
          Назад к списку
        </button>
      </template>

      <template slot="button-left" v-if="isShowPrevButton">
        <button class="button button_outline_secondary button_icon-arrow-left" type="button" @click="onClickPrevButton">
          Предыдущий
        </button>
      </template>

      <template slot="paging">
        <div>
          {{ indexActiveFunction }} / {{ countFunctions }}
        </div>
      </template>

      <template slot="button-right">
        <button class="button button_success" type="button" @click="onClickCompleteButton" v-if="isCompleted">
          Завершить
        </button>

        <button class="button button_success button_icon-arrow-right" type="button" @click="onClickNextButton" v-else>
          Следующий
        </button>
      </template>

      <template slot="help-bar">
        <HelpBar/>
      </template>
    </ButtonBar>
  </form>

  <Preloader v-else>
    Загрузка данных...
  </Preloader>
</template>

<script>
import Evaluation from '../components/Evaluation.vue';
import Comment from '../components/Comment.vue';
import ButtonBar from '../components/ButtonBar.vue';
import HelpBar from '../components/HelpBar.vue';
import FunctionsGroup from '../components/FunctionsGroup.vue';
import FixedCol from '../components/FixedCol.vue';
import Preloader from '../components/Preloader.vue';

export default {
  name: 'FunctionsContainer',
  computed: {
    isDataLoaded() {
      return this.$store.state.isDataLoaded;
    },
    isShowBackButton() {
      return this.indexActiveFunction === 1;
    },
    isShowPrevButton() {
      return this.indexActiveFunction > 1;
    },
    isCompleted() {
      return this.indexActiveFunction === this.countFunctions;
    },
    activities() {
      return this.$store.getters.getSelectedActivities;
    },
    functions() {
      return this.$store.getters.getSelectedFunctions;
    },
    countFunctions() {
      return this.$store.getters.getCountFunctions;
    },
    indexActiveFunction() {
      return this.$store.getters.getIndexFunctionById(this.activeFunction.id) + 1;
    },
    activeFunction() {
      return this.$store.state.activeFunction;
    },
  },
  methods: {
    onClickBackButton() {
      this.$router.push({
        name: 'activities',
        query: {
          cid: this.$store.state.userParams.cid,
          week: this.$store.state.userParams.week,
          pid: this.$store.state.userParams.pid,
          hash: this.$store.state.userParams.hash,
          lang: this.$store.state.userParams.lang,
        },
      });
    },
    onClickPrevButton() {
      this.goPrevFunction();
    },
    onClickNextButton() {
      this.$store.dispatch('validationActiveFunction', () => {
        this.$store.commit('changeFuncState', {
          id: this.activeFunction.id,
          filled: true,
        });

        this.$store.dispatch('saveData');

        this.goNextFunction();

        this.$store.commit('setHint', []);
      });
    },
    onClickCompleteButton() {
      this.$store.dispatch('validationActiveFunction', () => {
        this.$store.commit('changeFuncState', {
          id: this.activeFunction.id,
          filled: true,
        });

        this.$store.dispatch('saveData');

        this.$router.push({
          name: 'end',
          query: {
            cid: this.$store.state.userParams.cid,
            week: this.$store.state.userParams.week,
            pid: this.$store.state.userParams.pid,
            hash: this.$store.state.userParams.hash,
            lang: this.$store.state.userParams.lang,
          },
        });
      });
    },
    goPrevFunction() {
      const index = this.$store.getters.getIndexFunctionById(this.activeFunction.id);
      const prevFunction = this.$store.getters.getFunctionByIndex(index - 1);

      if (prevFunction !== null) {
        this.$store.commit('setActiveFunction', prevFunction.id);
      }
    },
    goNextFunction() {
      const index = this.$store.getters.getIndexFunctionById(this.activeFunction.id);
      const nextFunction = this.$store.getters.getFunctionByIndex(index + 1);

      if (nextFunction !== null) {
        this.$store.commit('setActiveFunction', nextFunction.id);
      }
    },
  },
  created() {
    if (this.$store.state.isDataLoaded === false) {
      this.$store.dispatch('getData');
    } else {
      this.$store.commit('setActiveFunction');
    }
  },
  mounted() {
    setTimeout(() => {
      this.$store.commit('setHint', this.$store.state.hints.filter(item => item.id === 4));
    }, 1500);
  },
  components: {
    FixedCol,
    FunctionsGroup,
    ButtonBar,
    Evaluation,
    Comment,
    HelpBar,
    Preloader,
  },
};
</script>
