<template>
  <div class="start-page">
    <h2>
      <span class="start-page__title-small">
        Оцените качество взаимодействия c
      </span>
      <span class="start-page__title">
        КЦ и ТС
      </span>
      <span class="start-page__title-small">
        в 2018-2019
      </span>
    </h2>

    <div class="start-page__picture">
      <img src="../assets/images/start-picture.png" width="577" alt="" aria-hidden="true">
    </div>

    <div class="start-page__button">
      <button
        class="button button_start button_success button_icon-arrow-right"
        :style="{width: '200px'}"
        @click.prevent="onClickStartButton"
      >
        Старт
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StartContainer',
  methods: {
    onClickStartButton() {
      this.$router.push({
        name: 'activities',
        query: {
          cid: this.$store.state.userParams.cid,
          week: this.$store.state.userParams.week,
          pid: this.$store.state.userParams.pid,
          hash: this.$store.state.userParams.hash,
          lang: this.$store.state.userParams.lang,
        },
      });
    },
  },
};
</script>
