<template>
  <div
    :class="{
      'activities-group': true,
      'activities-group_open': isOpen
    }"
  >
    <div class="activities-group__header" @click="onClickToggle">
      <div class="activities-group__icon">
        <img
          :src="activity.icon"
          width="63"
          alt=""
          aria-hidden="true"
        >
      </div>

      <span>{{  activity.title }}</span>
    </div>

    <div class="activities-group__content">
      <CheckboxTree
        :functions="functionsByActivityId"
      />
    </div>
  </div>
</template>

<script>
import CheckboxTree from './CheckboxTree.vue';

export default {
  name: 'ActivitiesGroup',
  props: {
    activity: Object,
  },
  data() {
    return {
      isOpen: false,
    };
  },
  computed: {
    isSelectedActivity() {
      return Boolean(this.$store.getters.getSelectedActivities.filter(item => item.id === this.activity.id).length);
    },
    indexActivity() {
      return this.$store.state.activities.findIndex(item => item.id === this.activity.id);
    },
    functionsByActivityId() {
      const activityId = this.$props.activity.id;
      return this.$store.state.functions.filter(func => func.activityId === activityId);
    },
  },
  methods: {
    onClickToggle(event) {
      event.preventDefault();
      this.isOpen = !this.isOpen;
    },
  },
  created() {
    this.isOpen = this.indexActivity === 0;

    if (this.isSelectedActivity) {
      this.isOpen = true;
    }
  },
  components: {
    CheckboxTree,
  },
};
</script>
