<template>
  <div class="button-bar">
    <div class="button-bar__wrapper wrapper clearfix">
      <div class="button-bar__left">
        <slot name="button-back"></slot>
        <slot name="button-left"></slot>
      </div>

      <div class="button-bar__pages">
        <slot name="paging"></slot>
      </div>

      <div class="button-bar__right">
        <slot name="button-right"></slot>
      </div>

      <div class="button-bar__help">
        <slot name="help-bar"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ButtonBar',
};
</script>
