<template>
  <div class="checkbox-tree">
    <div class="checkbox-tree__item" v-for="func in functions">
      <div class="checkbox">
        <input
          :id="func.id"
          @change="onChangeFunc({
            id: func.id,
            activityId: func.activityId,
            selected: $event.target.checked
          })"
          :checked="func.selected"
          class="checkbox__input"
          type="checkbox"
        >

        <label :for="func.id" class="checkbox__label">
          <span class="checkbox__text">{{ func.title }}</span>
        </label>
      </div>

      <div class="checkbox-tree__tooltip" v-if="func.hint !== undefined">
        <Info
          :options="{
            content: func.hint,
            placement: 'bottom',
          }"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Info from './Info.vue';

export default {
  name: 'CheckboxTree',
  props: {
    functions: Array,
  },
  methods: {
    onChangeFunc(payload) {
      this.$store.commit('changeFuncState', payload);
    },
  },
  components: {
    Info,
  },
};
</script>
