<template>
  <div :class="{'comment': true, 'comment_empty': isEmpty, 'comment_typing': isTyping, 'comment_filled': isFilled, 'comment_error': isErrorComment}">
    <div class="comment__content">
      <textarea
        name=""
        :id="func.id"
        cols="30"
        rows="10"
        class="comment__textarea"
        @change="onChangeComment"
        @keydown="onKeypressComment"
        :value="func.comment"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Comment',
  props: {
    func: Object,
  },
  data() {
    return {
      isTyping: false,
    };
  },
  computed: {
    isEmpty() {
      return this.$props.func.comment === '' && this.$data.isTyping === false;
    },
    isFilled() {
      return this.$props.func.comment !== '' && this.$data.isTyping === false;
    },
    isErrorComment() {
      return this.$store.state.errorsActiveFunction.comment;
    },
  },
  methods: {
    onChangeComment(event) {
      this.$data.isTyping = false;

      this.$store.commit('changeFuncState', {
        id: this.$props.func.id,
        comment: event.target.value,
      });

      this.validation(event.target.value);
    },
    onKeypressComment(event) {
      this.$data.isTyping = true;
    },
    validation(value) {
      if (value !== '') {
        this.$store.commit('setErrorsActiveFunction', {
          comment: false,
        });
      }
    },
  },
};
</script>
