<template>
  <div class="copyright">
    Разработано внешним провайдером
    <a href="https://happy-job.ru/" target="_blank">
      <img
        src="../assets/images/happy-job.png"
        width="118"
        height="20"
        alt="Изображение копирайта happy-job.ru"
      />
    </a>
  </div>
</template>

<script>
export default {
  name: 'Copyright',
};
</script>
