<template>
  <fieldset class="evaluation">

    <div class="evaluation__item">
      <div :class="{'evaluation__title': true, 'evaluation__title_error': isErrorPeriodicity}">
        1. Взаимодействовал<br>несколько раз в:
      </div>

      <div class="evaluation__radio">
        <RadioGroup
          :func="func"
        />
      </div>
    </div>

    <div class="evaluation__item">
      <div :class="{'evaluation__title': true, 'evaluation__title_bottom': true, 'evaluation__title_error': isErrorProcessTime}">
        2. Время процесса:

        <div class="evaluation__tooltip">
          <Info
            :options="{
            content: 'Время достижения результата по запросу внутреннего клиента.',
            placement: 'bottom'
          }"
          />
        </div>
      </div>

      <EvaluationSlider
        minTitle="с опозданием"
        maxTitle="в срок"
        paramTitle="processTime"
        :id="func.id"
        :value="processTime"
      />
    </div>

    <div class="evaluation__item">
      <div :class="{'evaluation__title': true, 'evaluation__title_bottom': true, 'evaluation__title_error': isErrorHelpfulness}">
        3. Готовность помочь:

        <div class="evaluation__tooltip">
          <Info
            :options="{
            content: 'Сотрудничество, ориентированность на потребности внутреннего клиента, этика коммуникации.',
            placement: 'bottom'
          }"
          />
        </div>
      </div>

      <EvaluationSlider
        minTitle="низкая"
        maxTitle="высокая"
        paramTitle="helpfulness"
        :id="func.id"
        :value="helpfulness"
      />
    </div>

    <div class="evaluation__item">
      <div :class="{'evaluation__title': true, 'evaluation__title_bottom': true, 'evaluation__title_error': isErrorResultQuality}">
        4. Качество результата:

        <div class="evaluation__tooltip">
          <Info
            :options="{
            content: 'Полнота информации, соответствие результата ожиданиям внутреннего клиента, отсутствие ошибок.',
            placement: 'bottom'
          }"
          />
        </div>
      </div>

      <EvaluationSlider
        minTitle="низкое"
        maxTitle="высокое"
        paramTitle="resultQuality"
        :id="func.id"
        :value="resultQuality"
      />
    </div>

  </fieldset>
</template>

<script>
import RadioGroup from './RadioGroup.vue';
import EvaluationSlider from './EvaluationSlider.vue';
import Info from './Info.vue';

export default {
  name: 'Evaluation',
  props: {
    func: Object,
  },
  computed: {
    isErrorPeriodicity() {
      return this.$store.state.errorsActiveFunction.periodicity;
    },
    isErrorProcessTime() {
      return this.$store.state.errorsActiveFunction.processTime;
    },
    isErrorHelpfulness() {
      return this.$store.state.errorsActiveFunction.helpfulness;
    },
    isErrorResultQuality() {
      return this.$store.state.errorsActiveFunction.resultQuality;
    },
    processTime() {
      return this.$props.func.processTime || 0;
    },
    helpfulness() {
      return this.$props.func.helpfulness || 0;
    },
    resultQuality() {
      return this.$props.func.resultQuality || 0;
    },
  },
  components: {
    EvaluationSlider,
    RadioGroup,
    Info,
  },
};
</script>
