<template>
  <div class="evaluation-slider">
    <vue-slider
      v-model="options.value"
      v-bind="options"
      @callback="onChangeSliderValue"
    >
      <template slot="tooltip" slot-scope="tooltip">
        <StarIcon
          :value="tooltip.value"
          :paramTitle="paramTitle"
          :color="lineColor"
        />
      </template>
    </vue-slider>

    <div class="evaluation-slider__titles clearfix">
      <span class="evaluation-slider__min-title">
        {{ minTitle }}
      </span>

      <span class="evaluation-slider__max-title">
        {{ maxTitle }}
      </span>
    </div>
  </div>
</template>

<script>
import VueSlider from 'vue-slider-component';
import StarIcon from './StarIcon';

export default {
  name: 'EvaluationSlider',
  props: {
    minTitle: String,
    maxTitle: String,
    value: Number,
    paramTitle: String,
    id: Number,
  },
  data() {
    return {
      lineColor: '#ed4040',
    };
  },
  computed: {
    activeFunction() {
      return this.$store.state.activeFunction;
    },
    indexActiveFunction() {
      return this.$store.getters.getIndexFunctionById(this.$props.id);
    },
    minScore() {
      return this.$store.state.minScore;
    },
    options() {
      return {
        value: this.$props.value,
        max: 10,
        bgStyle: {
          backgroundColor: '#ebeced',
        },
        processStyle: {
          backgroundColor: this.$data.lineColor,
        },
      };
    },
    isFirstFunc() {
      return this.indexActiveFunction === 0;
    },
    isMinScore() {
      return this.activeFunction.processTime > this.minScore && this.activeFunction.helpfulness > this.minScore && this.activeFunction.resultQuality > this.minScore;
    },
  },
  methods: {
    onChangeSliderValue(value) {
      this.changeLineColor(value);

      this.$store.commit('changeFuncState', {
        id: this.id,
        [this.paramTitle]: value,
      });

      this.validation(value);
    },
    changeLineColor(value) {
      if (value === 1) {
        this.$data.lineColor = '#ed4040';
      } else if (value === 2) {
        this.$data.lineColor = '#ed4040';
      } else if (value === 3) {
        this.$data.lineColor = '#ed4040';
      } else if (value === 4) {
        this.$data.lineColor = '#ff7d43';
      } else if (value === 5) {
        this.$data.lineColor = '#ff7d43';
      } else if (value === 6) {
        this.$data.lineColor = '#ffce00';
      } else if (value === 7) {
        this.$data.lineColor = '#ffce00';
      } else if (value === 8) {
        this.$data.lineColor = '#cad844';
      } else if (value === 9) {
        this.$data.lineColor = '#81bc5e';
      } else if (value === 10) {
        this.$data.lineColor = '#81bc5e';
      }
    },
    validation(value) {
      if (value > 1) {
        this.$store.commit('setErrorsActiveFunction', {
          [this.paramTitle]: false,
        });
      }

      if (this.isFirstFunc && this.activeFunction.periodicity !== null && this.isMinScore) {
        this.$store.commit('setHint', this.$store.state.hints.filter(item => item.id === 7));
      }
    },
  },
  mounted() {
    this.changeLineColor(this.options.value);
  },
  updated() {
    this.changeLineColor(this.options.value);
  },
  components: {
    StarIcon,
    VueSlider,
  },
};
</script>
