<template>
  <div ref="bar" class="fixed-col" v-bar>
    <div ref="content">
      <div class="fixed-col__wrap">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery';

export default {
  name: 'FixedCol',
  data() {
    return {
      scrollSpeed: 500,
      offsetTop: 116,
    };
  },
  computed: {
    offsetTopActiveFunction() {
      return this.$store.state.offsetTopActiveFunction;
    },
  },
  watch: {
    offsetTopActiveFunction: () => {
      $(document).trigger('scrollcontent');
    },
  },
  mounted() {
    const isFunctionsGroup = Boolean($(this.$refs.bar).attr('id'));

    // Если колонка со списком оцениваемых Ф.О., навешиваем автоматический скроллинг.
    if (isFunctionsGroup) {
      this.addEventScrollContent();
      $(document).trigger('scrollcontent');
    }
  },
  methods: {
    addEventScrollContent() {
      $(document).on('scrollcontent', () => {
        this.scrollTo(this.offsetTopActiveFunction);
      });
    },
    scrollTo(value) {
      $(this.$refs.content).stop().animate({ scrollTop: value - this.$data.offsetTop }, this.$data.scrollSpeed);
    },
  },
};
</script>
