<template>
  <div ref="item" class="functions-item" :class="{'functions-item_active': isActive}">
    <input
      type="checkbox"
      class="functions-item__input"
      :id="func.id"
      :checked="func.filled"
    >

    <label :for="func.id" class="functions-item__label" @click.prevent>
      {{ func.title }}
    </label>
  </div>
</template>

<script>
export default {
  name: 'FunctionsItem',
  props: {
    func: Object,
  },
  computed: {
    isActive() {
      return this.$props.func.id === this.activeFunction.id;
    },
    activeFunction() {
      return this.$store.state.activeFunction;
    },
  },
  watch: {
    activeFunction() {
      this.setOffsetTopActiveFunction();
    },
  },
  methods: {
    setOffsetTopActiveFunction() {
      if (this.isActive) {
        this.$store.commit('setOffsetTopActiveFunction', this.$refs.item.offsetTop);
      }
    },
  },
};
</script>
