<template>
  <div class="functions-group" :class="{'functions-group_active': isActive}">
    <div class="functions-group__header">
      <div class="functions-group__icon">
        <img
          :src="activity.icon"
          width="63"
          height="63"
          alt=""
          aria-hidden="true"
        >
      </div>

      {{ activity.title }}
    </div>

    <div class="functions-group__content">
      <FunctionsItem
        v-for="func in functions"
        :key="func.id"
        :func="func"
      />
    </div>
  </div>
</template>

<script>
import FunctionsItem from './FunctionsItem.vue';

export default {
  name: 'FunctionsGroup',
  props: {
    activity: Object,
  },
  computed: {
    isActive() {
      return this.functions.some(item => item.id === this.activeFunction.id);
    },
    functions() {
      return this.$store.getters.getSelectedFunctionsByActivityId(this.$props.activity.id);
    },
    activeFunction() {
      return this.$store.state.activeFunction;
    },
  },
  components: {
    FunctionsItem,
  },
};
</script>
