<template>
  <header class="header">
    <div class="wrapper clearfix">
      <div class="header__logo">
        <Logo/>
      </div>

      <div class="header__copyright">
        <Copyright/>
      </div>
    </div>
  </header>
</template>

<script>
import Logo from './Logo.vue';
import Copyright from './Copyright.vue';

export default {
  name: 'Header',
  components: {
    Logo,
    Copyright,
  },
};
</script>
