<template>
  <div class="help-bar">
    <transition name="message-animate">
      <div
        :class="{'help-message': true, 'help-message_error': isTypeError, 'help-message_with-bar': isShowBar}"
        v-show="isExistHints"
        @mouseenter="onMouseEnterMessage"
        @mouseleave="onMouseLeaveMessage"
      >

        <div class="help-message__content" v-html="currentMessage"></div>

        <div class="help-message__bar" v-show="isShowBar">
          <button class="help-message__button" @click.prevent="onClickPrevButton" :disabled="isPrevButtonDisabled">
            Назад
          </button>

          <button class="help-message__button" @click.prevent="onClickNextButton" :disabled="isNextButtonDisabled">
            Далее
          </button>
        </div>
      </div>
    </transition>

    <transition name="man-animate">
      <img
        class="help-bar__man"
        src="../assets/images/help-man.png"
        width="240"
        alt=""
        aria-hidden="true"
        v-show="isExistHints"
      >
    </transition>
  </div>
</template>

<script>
export default {
  name: 'HelpBar',
  data() {
    return {
      isEmpty: true,
      index: 0,
      timerPause: false,
    };
  },
  computed: {
    currentHints() {
      return this.$store.state.currentHints;
    },
    isExistHints() {
      return this.currentHints.length >= 1;
    },
    countHints() {
      if (this.isExistHints) {
        return this.currentHints.length - 1;
      }
    },
    currentMessage() {
      if (this.isExistHints) {
        return this.currentHints[this.$data.index].message;
      }
    },
    currentLatency() {
      if (this.isExistHints) {
        return this.currentHints[this.$data.index].latency;
      }
    },
    isTypeError() {
      if (this.isExistHints) {
        return this.currentHints[this.$data.index].type === 'error';
      }
    },
    isPrevButtonDisabled() {
      return this.$data.index < 1;
    },
    isNextButtonDisabled() {
      return this.$data.index === this.countHints;
    },
    isShowBar() {
      return this.currentHints.length > 1;
    },
  },
  methods: {
    onClickPrevButton() {
      this.$data.index = this.$data.index - 1;
    },
    onClickNextButton() {
      this.$data.index = this.$data.index + 1;
    },
    onMouseEnterMessage() {
      this.$data.timerPause = true;
    },
    onMouseLeaveMessage() {
      this.$data.timerPause = false;
      this.setIntervalHints();
    },
    setIntervalHints() {
      clearInterval(window.hintsTimer);

      if (this.isExistHints) {
        window.hintsTimer = setInterval(() => {
          if (this.$data.timerPause === false && this.$data.index < this.countHints) {
            this.$data.index = this.$data.index + 1;
          }
        }, this.currentLatency);
      }
    },
  },
  mounted() {
    this.setIntervalHints();
  },
  updated() {
    this.setIntervalHints();
  },
};
</script>
