<template>
  <div style="position: fixed; top: -9999px; left: -9999px; opacity: 0; width: 10px; height: 10px; overflow: hidden;">
    <img src="../assets/icons/angle-up-green.png" alt="">
    <img src="../assets/icons/angle-down-green.png" alt="">

    <img src="../assets/images/slider/clock/clock-0.png" alt="">
    <img src="../assets/images/slider/clock/clock-1.svg" alt="">
    <img src="../assets/images/slider/clock/clock-2.svg" alt="">
    <img src="../assets/images/slider/clock/clock-3.svg" alt="">
    <img src="../assets/images/slider/clock/clock-4.svg" alt="">
    <img src="../assets/images/slider/clock/clock-5.svg" alt="">
    <img src="../assets/images/slider/clock/clock-6.svg" alt="">
    <img src="../assets/images/slider/clock/clock-7.svg" alt="">
    <img src="../assets/images/slider/clock/clock-8.svg" alt="">
    <img src="../assets/images/slider/clock/clock-9.svg" alt="">
    <img src="../assets/images/slider/clock/clock-10.svg" alt="">

    <img src="../assets/images/slider/heart/heart-0.png" alt="">
    <img src="../assets/images/slider/heart/heart-1.svg" alt="">
    <img src="../assets/images/slider/heart/heart-2.svg" alt="">
    <img src="../assets/images/slider/heart/heart-3.svg" alt="">
    <img src="../assets/images/slider/heart/heart-4.svg" alt="">
    <img src="../assets/images/slider/heart/heart-5.svg" alt="">
    <img src="../assets/images/slider/heart/heart-6.svg" alt="">
    <img src="../assets/images/slider/heart/heart-7.svg" alt="">
    <img src="../assets/images/slider/heart/heart-8.svg" alt="">
    <img src="../assets/images/slider/heart/heart-9.svg" alt="">
    <img src="../assets/images/slider/heart/heart-10.svg" alt="">

    <img src="../assets/images/slider/star/star-0.png" alt="">
    <img src="../assets/images/slider/star/star-1.svg" alt="">
    <img src="../assets/images/slider/star/star-2.svg" alt="">
    <img src="../assets/images/slider/star/star-3.svg" alt="">
    <img src="../assets/images/slider/star/star-4.svg" alt="">
    <img src="../assets/images/slider/star/star-5.svg" alt="">
    <img src="../assets/images/slider/star/star-6.svg" alt="">
    <img src="../assets/images/slider/star/star-7.svg" alt="">
    <img src="../assets/images/slider/star/star-8.svg" alt="">
    <img src="../assets/images/slider/star/star-9.svg" alt="">
    <img src="../assets/images/slider/star/star-10.svg" alt="">
  </div>
</template>

<script>
export default {
  name: 'IconPreload',
};
</script>
