<template>
  <button class="info" v-tooltip="options" @click="onClickButton">
    Tooltip
  </button>
</template>

<script>
export default {
  name: 'Info',
  props: {
    options: Object,
  },
  methods: {
    onClickButton(event) {
      event.preventDefault();
    },
  },
};
</script>
