<template>
  <div class="radio">
    <input
      class="radio__input"
      name="periodicity"
      type="radio"
      :id="id"
      :checked="isChecked"
      @change="onChangePeriodicity"
    >

    <label class="radio__label" :for="id">
      {{ label }}
    </label>
  </div>
</template>

<script>
export default {
  name: 'PeriodicityItem',
  props: {
    id: String,
    label: String,
    func: Object,
  },
  computed: {
    activeFunction() {
      return this.$store.state.activeFunction;
    },
    indexActiveFunction() {
      return this.$store.getters.getIndexFunctionById(this.$props.func.id);
    },
    minScore() {
      return this.$store.state.minScore;
    },
    periodicity() {
      return this.$props.func.periodicity;
    },
    isChecked() {
      return this.periodicity === this.$props.id;
    },
    isFirstFunc() {
      return this.indexActiveFunction === 0;
    },
    isMinScore() {
      return this.activeFunction.processTime > this.minScore && this.activeFunction.helpfulness > this.minScore && this.activeFunction.resultQuality > this.minScore;
    },
  },
  methods: {
    onChangePeriodicity(event) {
      this.$store.commit('changeFuncState', {
        id: this.$props.func.id,
        periodicity: event.target.id,
      });

      this.$store.commit('setErrorsActiveFunction', {
        periodicity: false,
      });

      if (this.isFirstFunc && this.activeFunction.periodicity !== null && this.isMinScore) {
        this.$store.commit('setHint', this.$store.state.hints.filter(item => item.id === 7));
      }
    },
  },
};
</script>
