<template>
  <div class="radio-group">
    <div class="radio-group__item">
      <PeriodicityItem
        id="week"
        label="нед"
        :func="func"
      />
    </div>

    <div class="radio-group__item">
      <PeriodicityItem
        id="month"
        label="мес"
        :func="func"
      />
    </div>

    <div class="radio-group__item">
      <PeriodicityItem
        id="year"
        label="год"
        :func="func"
      />
    </div>
  </div>
</template>

<script>
import PeriodicityItem from './PeriodicityItem.vue';

export default {
  name: 'RadioGroup',
  props: {
    func: Object,
  },
  components: {
    PeriodicityItem,
  },
};
</script>
