<template>
  <div class="icon-slider">
    <div class="icon-slider__picture">
      <template v-if="isProcessTime">
        <img src="../assets/images/slider/clock/clock-0.png" alt="" v-if="isShowZero">
        <img src="../assets/images/slider/clock/clock-1.svg" alt="" v-if="isShowOne">
        <img src="../assets/images/slider/clock/clock-2.svg" alt="" v-if="isShowTwo">
        <img src="../assets/images/slider/clock/clock-3.svg" alt="" v-if="isShowThree">
        <img src="../assets/images/slider/clock/clock-4.svg" alt="" v-if="isShowFour">
        <img src="../assets/images/slider/clock/clock-5.svg" alt="" v-if="isShowFive">
        <img src="../assets/images/slider/clock/clock-6.svg" alt="" v-if="isShowSix">
        <img src="../assets/images/slider/clock/clock-7.svg" alt="" v-if="isShowSeven">
        <img src="../assets/images/slider/clock/clock-8.svg" alt="" v-if="isShowEight">
        <img src="../assets/images/slider/clock/clock-9.svg" alt="" v-if="isShowNine">
        <img src="../assets/images/slider/clock/clock-10.svg" alt="" v-if="isShowTen">
      </template>

      <template v-if="isHelpfulness">
        <img src="../assets/images/slider/heart/heart-0.png" alt="" v-if="isShowZero">
        <img src="../assets/images/slider/heart/heart-1.svg" alt="" v-if="isShowOne">
        <img src="../assets/images/slider/heart/heart-2.svg" alt="" v-if="isShowTwo">
        <img src="../assets/images/slider/heart/heart-3.svg" alt="" v-if="isShowThree">
        <img src="../assets/images/slider/heart/heart-4.svg" alt="" v-if="isShowFour">
        <img src="../assets/images/slider/heart/heart-5.svg" alt="" v-if="isShowFive">
        <img src="../assets/images/slider/heart/heart-6.svg" alt="" v-if="isShowSix">
        <img src="../assets/images/slider/heart/heart-7.svg" alt="" v-if="isShowSeven">
        <img src="../assets/images/slider/heart/heart-8.svg" alt="" v-if="isShowEight">
        <img src="../assets/images/slider/heart/heart-9.svg" alt="" v-if="isShowNine">
        <img src="../assets/images/slider/heart/heart-10.svg" alt="" v-if="isShowTen">
      </template>

      <template v-if="isResultQuality">
        <img src="../assets/images/slider/star/star-0.png" alt="" v-if="isShowZero">
        <img src="../assets/images/slider/star/star-1.svg" alt="" v-if="isShowOne">
        <img src="../assets/images/slider/star/star-2.svg" alt="" v-if="isShowTwo">
        <img src="../assets/images/slider/star/star-3.svg" alt="" v-if="isShowThree">
        <img src="../assets/images/slider/star/star-4.svg" alt="" v-if="isShowFour">
        <img src="../assets/images/slider/star/star-5.svg" alt="" v-if="isShowFive">
        <img src="../assets/images/slider/star/star-6.svg" alt="" v-if="isShowSix">
        <img src="../assets/images/slider/star/star-7.svg" alt="" v-if="isShowSeven">
        <img src="../assets/images/slider/star/star-8.svg" alt="" v-if="isShowEight">
        <img src="../assets/images/slider/star/star-9.svg" alt="" v-if="isShowNine">
        <img src="../assets/images/slider/star/star-10.svg" alt="" v-if="isShowTen">
      </template>
    </div>

    <div class="icon-slider__value" :style="{color: color, right: right}" v-if="isShowValue">
      {{ value }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'StarIcon',
  props: {
    value: Number,
    paramTitle: String,
    color: String,
  },
  computed: {
    right() {
      if (this.$props.value === 10) {
        return '50px';
      }

      return '-25px';
    },
    isShowValue() {
      return this.$props.value > 0;
    },
    isProcessTime() {
      return this.$props.paramTitle === 'processTime';
    },
    isHelpfulness() {
      return this.$props.paramTitle === 'helpfulness';
    },
    isResultQuality() {
      return this.$props.paramTitle === 'resultQuality';
    },
    isShowZero() {
      return this.$props.value === 0;
    },
    isShowOne() {
      return this.$props.value === 1;
    },
    isShowTwo() {
      return this.$props.value === 2;
    },
    isShowThree() {
      return this.$props.value === 3;
    },
    isShowFour() {
      return this.$props.value === 4;
    },
    isShowFive() {
      return this.$props.value === 5;
    },
    isShowSix() {
      return this.$props.value === 6;
    },
    isShowSeven() {
      return this.$props.value === 7;
    },
    isShowEight() {
      return this.$props.value === 8;
    },
    isShowNine() {
      return this.$props.value === 9;
    },
    isShowTen() {
      return this.$props.value === 10;
    },
  },
};
</script>
