<template>
  <div id="app">
    <Header/>
    <main>
      <router-view/>
    </main>
    <IconPreload/>
  </div>
</template>

<script>
import $ from 'jquery';
import Header from './components/Header.vue';
import IconPreload from './components/IconPreload';

const { detect } = require('detect-browser');

const browser = detect();

export default {
  name: 'app',
  computed: {
    isIE9() {
      return browser.name === 'ie' && browser.version === '9.0.0';
    },
    isIE10() {
      return browser.name === 'ie' && browser.version === '10.0.0';
    },
    isIE11() {
      return browser.name === 'ie' && browser.version === '11.0.0';
    },
  },
  created() {
    this.$store.commit('setUserParams', {
      cid: this.$route.query.cid,
      week: this.$route.query.week,
      pid: this.$route.query.pid,
      hash: this.$route.query.hash,
      lang: this.$route.query.lang,
    });

    if (this.isIE9) {
      $('html').addClass('ie-9');
    } else if (this.isIE10) {
      $('html').addClass('ie-10');
    } else if (this.isIE11) {
      $('html').addClass('ie-11');
    }

    this.setAppSize();

    $(window).resize(() => {
      this.setAppSize();
    });
  },
  methods: {
    setAppSize() {
      const html = $('html');
      const height = $(window).height();

      if (height < 869) {
        html.css('font-size', '14px');
      } else {
        html.css('font-size', '16px');
      }

      if (height < 759) {
        html.css('font-size', '12px');
      }
    },
  },
  components: {
    IconPreload,
    Header,
  },
};
</script>

<style src="./scss/main.scss" lang="scss"></style>
