@import "variables";

.activities-group {
  display: block;

  padding: 0;
  margin: 0;

  border: none;

  &:not(:last-child) {
    border-bottom: 1px solid #dcdee0;
  }

  &__header {
    position: relative;
    display: block;
    width: 100%;

    padding: 40px 100px 35px 125px;
    margin: 0;

    color: $color-scorpion;
    line-height: 1.125em;
    font-weight: bold;
    text-transform: uppercase;

    background: #fbfbfd;
    background: -moz-linear-gradient(top, #fbfbfb 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #fbfbfb 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #fbfbfb 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfd', endColorstr='#ffffff',GradientType=0 );

    cursor: pointer;
    z-index: 1;

    &:after {
      position: absolute;
      display: block;
      content: '';

      width: 25px;
      height: 19px;

      top: 50%;
      right: 40px;

      transform: translateY(-50%);

      background-color: transparent;
      background-image: url("../assets/icons/angle-down-gray.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:hover:after {
      background-image: url("../assets/icons/angle-down-green.png");
    }

    .activities-group_open &:after {
      background-image: url("../assets/icons/angle-up-gray.png");
    }

    .activities-group_open &:hover:after {
      background-image: url("../assets/icons/angle-up-green.png");
    }
  }

  &__icon {
    position: absolute;

    top: 50%;
    left: 20px;

    transform: translateY(-50%);

    img {
      display: block;
      width: 63px;
      height: auto;
    }
  }

  &__content {
    display: none;
    padding-left: 50px;

    .activities-group_open & {
      display: block;
    }
  }
}
