@import "variables";

.button-bar {
  position: relative;
  width: 100%;

  padding: 0 0 25px;
  margin-top: 25px;

  background-color: #f2f3f6;

  &__wrapper {
    position: relative;
  }

  &__pages {
    position: absolute;

    top: 27px;
    left: 50%;
    transform: translateX(-50%);

    color: $color-gray-chateau;
    font-weight: bold;
  }

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }
}
