@import "variables";

.button {
  display: block;
  width: 335px;
  height: 60px;

  padding: 0;

  font-size: 1rem;
  line-height: 62px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: 'GothamPro', sans-serif;
  text-transform: uppercase;

  transition: background-color 0.2s ease-out;

  border-radius: 6px;
  border: none;

  cursor: pointer;

  &_outline_secondary {
    color: $color-gray-chateau;
    border: 1px solid #c1cad1;
    background-color: transparent;

    &:hover {
      background-color: #e8eaef;
      border-color: #aeb9c3;
    }
  }

  &_success {
    color: #fff;
    line-height: 63px;
    background-color: $color-viking;

    &:hover {
      background-color: #40ccc8;
    }

    &:disabled {
      color: $color-gray-chateau;
      background-color: #e8eaef;

      cursor: default;
    }
  }

  &_start {
    font-size: 1.250em;
  }

  &_icon_cross {
    background-image: url("../assets/icons/cross.png");
    background-position: left 30px top 22px;
    background-repeat: no-repeat;
    background-size: 14px 14px;

    .ie-9 &,
    .ie-10 & {
      background-position: left 30px top 23px;
    }
  }

  &_icon-arrow-left {
    background-image: url("../assets/icons/arrow-left.png");
    background-position: left 35px center;
    background-repeat: no-repeat;
    background-size: 20px 10px;

    .ie-9 &,
    .ie-10 & {
      background-position: left 35px top 26px;
    }
  }

  &_icon-arrow-right {
    background-image: url("../assets/icons/arrow-right.png");
    background-position: right 35px center;
    background-repeat: no-repeat;
    background-size: 19px 11px;

    &:disabled {
      background-image: url("../assets/icons/arrow-right-gray.png");
    }

    .ie-9 &,
    .ie-10 & {
      background-position: right 35px top 26px;
    }
  }

  &_icon-refresh {
    background-image: url("../assets/icons/refresh.png");
    background-position: left 35px center;
    background-repeat: no-repeat;
    background-size: 20px auto;
  }
}
