.checkbox {
  position: relative;

  &__input {
    position: absolute;

    top: 0;
    left: 0;

    opacity: 0;
  }

  &__label {
    position: relative;
    display: inline-block;

    padding-left: 60px;
    font-size: 1rem;
    line-height: 1.250em;

    &:before,
    &:after {
      position: absolute;
      display: inline-block;
      content: "";

      width: 20px;
      height: 20px;

      top: 50%;
      left: 0;

      transform: translateY(-50%);

      box-sizing: border-box;
    }

    &:before {
      border: 1px solid #afb6bc;
      background-color: #f2f3f6;

      cursor: pointer;
    }

    &:after {
      background: url("../assets/icons/check.png") center center no-repeat;
      background-size: 20px auto;
    }
  }

  &__input + &__label:after {
    content: none;
  }

  &__input:checked + &__label:after {
    content: "";
  }

  // @TODO: Фокус отключили, пока не будет прорабатываться навигация с клавиатуры.
  //&__input:focus + &__label:before {
  //  outline: rgb(59, 153, 252) auto 1px;
  //}

  &__text {
    position: relative;
    top: 1px;
  }
}
