.checkbox-tree {
  position: relative;
  padding-left: 40px;

  &:before {
    position: absolute;
    display: block;
    content: '';

    width: 100%;
    height: 100%;
    padding-top: 40px;

    top: -50px;
    left: 0;

    border: 1px solid transparent;
    border-left-color: #dcdee0;
  }

  &__item {
    position: relative;
    padding-right: 100px;
    margin-bottom: 20px;

    z-index: 2;

    &:before {
      position: absolute;
      display: block;
      content: '';

      width: 40px;
      height: 1px;

      top: 50%;
      left: -40px;

      background-color: #dcdee0;
    }

    &:last-child:before {
      height: 50%;

      border-top: 1px solid #dcdee0;
      background-color: #fff;
    }
  }

  &__tooltip {
    position: absolute;

    top: -3px;
    right: 42px;
  }
}
