@import "variables";

.comment {
  position: relative;
  padding: 25px 20px 50px 20px;

  box-shadow: 0 0 10px rgba(000, 000, 000, .1);
  background: #fff url("../assets/icons/comment.png") right 50px bottom 20px no-repeat;
  background-size: 24px auto;

  border: 1px solid $color-viking;
  border-radius: 6px;

  &_error {
    border-color: $color-cinnabar;
  }

  &_empty:before,
  &_typing:before,
  &_filled:before {
    position: absolute;
    display: block;
    content: '';
    width: 16px;
    height: 16px;

    right: 27px;
    bottom: 23px;
  }

  &_empty:before {
    background: url("../assets/icons/cross.png") center center no-repeat;
    background-size: 11px auto;
  }

  &_typing:before {
    right: 23px;
    bottom: 22px;
    background: url("../assets/icons/dots.png") center center no-repeat;
    background-size: 16px auto;
  }

  &_filled:before {
    right: 23px;
    bottom: 22px;
    background: url("../assets/icons/check.png") center center no-repeat;
    background-size: 20px auto;
  }

  &__textarea {
    width: 100%;
    height: 120px;
    padding: 5px;

    color: $color-scorpion;
    font-size: 1rem;
    font-family: 'GothamPro', sans-serif;

    border: none;

    overflow: auto;
    resize: none;
  }
}
