@import "variables";

.copyright {
  display: block;
  color: $color-gray-chateau;

  a {
    display: inline-block;
    margin-left: 10px;

    vertical-align: middle;
  }

  img {
    display: block;
    width: 118px;
    height: 20px;

    opacity: 0.4;
    border: none;
  }
}
