@font-face {
  font-family: 'GothamPro';
  src: url('../assets/fonts/GothamPro.woff?') format('woff');
}

@font-face {
  font-family: 'GothamPro';
  font-weight: bold;
  src: url('../assets/fonts/GothamPro-Bold.woff?') format('woff');
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  font-size: 16px;
}

body {
  margin: 0;

  font-family: 'GothamPro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f2f3f6;
}
