@import 'variables';

.end-page {
  padding-top: 40px;
  text-align: center;

  &__title {
    color: $color-viking;
    font-size: 1.125rem;
    line-height: 22px;
    text-transform: uppercase;

    span {
      color: $color-scorpion;
    }
  }

  &__picture {
    padding: 30px 0 90px;
  }

  &__button {
    display: inline-block;
  }
}
