@import "variables";

.evaluation-slider {
  padding: 0 15px 0 10px;
  font-weight: normal;

  &__titles {
    margin-top: 10px;
    color: $color-gray-chateau;
  }

  &__min-title {
    float: left;
  }

  &__max-title {
    float: right;
  }
}

.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-top {
  -ms-transform: translate(-50%,-100%);
}
