@import "variables";

.evaluation {
  min-height: 590px;
  height: calc(100vh - 275px);

  padding: 0;
  margin: 0;

  background-color: #fff;

  border: 1px solid $color-viking;
  border-radius: 6px;

  &__item {
    position: relative;
    padding: 23px 30px;

    &:not(:last-child) {
      border-bottom: 1px solid #dcdee0;
    }
  }

  &__title {
    position: relative;
    font-weight: bold;
  }

  &__title_error {
    color: $color-cinnabar;
  }

  &__title_bottom {
    margin-bottom: 60px;
  }

  &__tooltip {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &__radio {
    position: absolute;

    top: 50%;
    right: 40px;

    transform: translateY(-50%);
  }
}
