@import "variables";

.fixed-col {
  min-height: 590px;

  box-shadow: 0 0 10px rgba(000, 000, 000, .1);
  border-radius: 6px;

  &_height-one {
    min-height: 550px;
    // Вычитаем высоту: шапка + заголовок страницы + панель с кнопками.
    height: calc(100vh - 291px);
  }

  &_height-two {
    // Вычитаем высоту: шапка + заголовок страницы + панель с кнопками.
    height: calc(100vh - 275px);
  }


  &_white {
    background-color: #fff;
  }

  &_white-green {
    background-color: #fff;
    border: 1px solid $color-viking;
  }

  &_gray {
    border: 1px solid #c1cad1;
    box-shadow: none;
  }

  &_730 {
    width: 730px;
  }

  &__wrap {
    .fixed-col_gray & {
      max-width: 429px;
      margin: 5px;

      background: #ffffff;
      background: -moz-linear-gradient(top, #ffffff 0%, #f2f3f7 38%, #f2f3f7 38%, #f2f3f7 100%);
      background: -webkit-linear-gradient(top, #ffffff 0%, #f2f3f7 38%, #f2f3f7 38%, #f2f3f7 100%);
      background: linear-gradient(to bottom, #ffffff 0%, #f2f3f7 38%, #f2f3f7 38%, #f2f3f7 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f3f7', GradientType=0);

      border-radius: 6px;
    }
  }
}

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0,0,0,0);
  transform: rotate3d(0,0,0,0);
  -webkit-transition:
          background-color 100ms ease-out,
          margin 100ms ease-out,
          height 100ms ease-out;
  transition:
          background-color 100ms ease-out,
          margin 100ms ease-out,
          height 100ms ease-out;
  background-color: rgba($color-viking, .2);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba($color-viking, .6);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba($color-viking, .6);
  margin: 0;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba($color-viking, .6);
  margin: 0;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba($color-viking, .6);
}
