@import "variables";

.form-title {
  padding: 11px 14px 7px;
  margin: 0 0 15px 0;

  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;

  background-color: $color-viking;

  &_730 {
    width: 730px;
  }
}
