@import "variables";

.functions-group {
  display: block;
  padding: 0 0 20px;
  margin: 0;

  border: none;

  opacity: 0.2;

  &:not(:last-child) {
    border-bottom: 1px solid #bac5ce;
  }

  &_active {
    opacity: 1;
  }

  &__header {
    position: relative;
    display: block;
    width: 100%;

    padding: 40px 30px 35px 110px;
    margin: 0;

    color: $color-scorpion;
    line-height: 1.125em;
    font-weight: bold;
    text-transform: uppercase;

    background: transparent;
  }

  &__icon {
    position: absolute;

    top: 50%;
    left: 20px;

    transform: translateY(-50%);
  }
}
