@import "variables";

.functions-item {
  &__input {
    display: none;
  }

  &__label {
    display: block;
    padding: 13px 70px 10px;

    color: $color-gray-chateau;
    font-size: 1rem;
    line-height: 1.250em;

    transition: background-color 0.2s ease-out;

    border: 1px solid transparent;
    border-radius: 5px;

    .functions-item_active & {
      color: $color-scorpion;

      box-shadow: 0 0 10px rgba(000, 000, 000, .1);
      background: #fff;

      border-color: $color-viking;

      cursor: default;
    }
  }

  &__input:checked + &__label {
    background-image: url("../assets/icons/check.png");
    background-position: left 30px center;
    background-repeat: no-repeat;
    background-size: 24px auto;
  }
}
