.header {
  position: relative;
  height: 80px;
  margin-bottom: 30px;

  box-shadow: 0 0 10px rgba(000, 000, 000, .1);
  background-color: #fff;

  &__logo {
    float: left;
    padding-top: 23px;
  }

  &__copyright {
    float: right;
    margin-top: 31px;
  }
}
