.help-bar {
  position: absolute;
  width: 420px;

  right: 30px;
  bottom: 100px;

  text-align: right;

  &__man {
    display: inline-block;
    width: 200px;
    height: auto;
  }
}

.message-animate-enter-active {
  transition: opacity 0.2s ease-out;
}

.message-animate-enter {
  opacity: 0;
}

.man-animate-enter-active {
  transition: opacity 0.2s ease-in;
}

.man-animate-leave-active {
  transition: opacity 0.1s ease-out;
}

.man-animate-enter,
.man-animate-leave-to {
  opacity: 0;
}
