@import "variables";

.help-message {
  padding: 30px 25px;

  color: $color-scorpion;
  font-size: 1rem;
  line-height: 1.125em;
  text-align: left;

  box-shadow: 0 0 10px rgba(000, 000, 000, .1);
  background-color: $color-athens-gray;

  border: 2px solid #fff;
  border-radius: 6px;

  &_with-bar {
    padding-bottom: 20px;
  }

  &_error {
    border-color: $color-cinnabar;
  }

  p {
    margin: 0 0 1rem 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bar {
    margin-top: 1rem;
    text-align: right;
  }

  &__button {
    display: inline-block;

    padding: 0;
    margin-left: 10px;

    color: $color-viking;
    font-size: 0.875em;
    text-decoration: underline;

    transition: color 0.2s ease-out;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &:hover {
      color: darken($color-viking, 15%);
    }

    &:disabled {
      color: #cdd0d5;
      cursor: default;
    }
  }
}
