.icon-slider {
  position: relative;
  top: 4px;

  &__picture {
    width: 50px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__value {
    position: absolute;
    padding-top: 8px;

    top: 50%;
    transform: translateY(-50%);

    font-size: 30px;
    line-height: 1em;
  }
}
