.info {
  display: block;
  width: 23px;
  height: 23px;

  font-size: 0;
  line-height: 0;

  background: url("../assets/icons/info-green.png") center center no-repeat;
  background-size: contain;
  border: none;

  transition: opacity 0.2s ease-out;

  cursor: default;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}
