.radio {
  position: relative;

  &__input {
    position: absolute;

    top: 0;
    left: 0;

    opacity: 0;
  }

  &__label {
    position: relative;
    display: inline-block;

    padding-left: 35px;
    line-height: 24px;

    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      display: inline-block;
      content: "";

      box-sizing: border-box;
    }

    &:before {
      height: 24px;
      width: 24px;

      top: 0;
      left: 0;

      border: 1px solid #afb6bc;
      border-radius: 100%;

      background-color: #f2f3f6;

      cursor: pointer;
    }

    &:after {
      width: 14px;
      height: 14px;

      top: 5px;
      left: 5px;

      background-color: #828786;
      border-radius: 100%;
    }
  }

  &__input + &__label:after {
    content: none;
  }

  &__input:checked + &__label:after {
    content: "";
  }

  // @TODO: Фокус отключили, пока не будет прорабатываться навигация с клавиатуры.
  //&__input:focus + &__label:before {
  //  outline: rgb(59, 153, 252) auto 1px;
  //}
}
