@import "variables";

.start-page {
  padding-top: 40px;
  text-align: center;

  &__title,
  &__title-small {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__title {
    color: $color-scorpion;
    font-size: 1.875rem;
    text-transform: uppercase;
  }

  &__title-small {
    color: $color-viking;
    font-size: 1.125rem;
    text-transform: uppercase;
  }

  &__picture {
    margin: 60px 0 90px;
  }

  &__button {
    display: inline-block;
  }
}
