@import "variables";

.tooltip {
  display: block !important;
  max-width: 360px;

  z-index: 10000;

  .tooltip-inner {
    padding: 20px;

    color: $color-scorpion;

    box-shadow: 0 0 10px rgba(000, 000, 000, .1);
    background: #fff;

    border-radius: 6px;
  }

  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    margin: 5px;

    border-style: solid;
    border-color: #fff;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      margin-top: 0;
      margin-bottom: 0;

      left: calc(50% - 5px);
      bottom: -5px;

      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      margin-top: 0;
      margin-bottom: 0;

      top: -5px;
      left: calc(50% - 5px);

      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      margin-left: 0;
      margin-right: 0;

      top: calc(50% - 5px);
      left: -5px;

      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      margin-left: 0;
      margin-right: 0;

      top: calc(50% - 5px);
      right: -5px;

      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
